@import 'style.less';

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-bar {
  display: flex;
}

.main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

.modules-view {
  display: flex;
  flex-direction: column;
  width: 25%;
  overflow-y: auto;
}

.tree-view {
  display: flex;
  width: 25%;
}

.object-view {
  display: flex;
  flex-grow: 1;
}

.menu-bar-bg {
  background: @menu-bg-color;
}

.menu-bar-border {
  border-bottom: 3px solid @menu-border-color;
}

.tree-view-bg {
  background: @tree-view-bg-color;
}

.tree-view-border {
  border-right: 3px solid @tree-view-border-color;
}

.object-view-bg {
  background: @object-view-bg-color;
}

.object-view-border {

}

.menu {
  display: flex;
  margin-left: auto;
}

.menu-btn {
  font-family: @menu-btn-font;
  color: @menu-btn-fg-color;
  padding: 12px;
}

.module-list .header {
  font-family: Arvo;
  font-size: 15pt;
  background-color: #69C769;
  border-bottom: 3px solid black;
}

.module-list .list {
  list-style: none;
}

.module-list {
  width:  100%;
}

.module-list .caret {
  padding-right: 10px;
  padding-left: 10px;
}

.module-list .header span {
  vertical-align: middle;
  display: table-cell;
}

.module-list .header .expand-btn :hover {
  cursor: pointer;
  background: @menu-border-color
}